.body_grid_4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 20px;
    background-color: white;
}

.box {
    height: 350px;
    border: 1px solid #eee;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    padding: 10px;
}

.box_img {
    min-height: 150px;
    max-height: 100%;

}

.box_img img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;

}
.box_body {
    padding: 10px;
}

.button_div {
    text-align: center;
}

.button_div button {
    text-align: center;
    background: #ff9400;
    border-radius: 2px;
    padding: 3px;
    width: 80%;
    border: 1px solid #d76e00;
}

.price {
    color: #d70022;
}

.offer {
    color: #45a1ff;
}

@media (max-width:1100px) {
    .body_grid_4 {
        grid-template-columns: repeat(4, 1fr);
    }

}
@media (max-width:920px) {
    .body_grid_4 {
        grid-template-columns: repeat(3, 1fr);
    }

    .body_grid_2 {
        grid-template-columns: 1fr;
    }
 


}
@media (max-width:720px) {
    .body_grid_4 {
        grid-template-columns: repeat(2, 1fr);
    }
    .body_grid_2 {
        grid-template-columns: 1fr;
    }


}
@media (max-width:556px) {
    .body_grid_4 {
        grid-template-columns: repeat(1, 1fr);
    }

    .body_grid_2 {
        grid-template-columns: 1fr;
    }


}