.container {
    position: absolute;
    width: 610px;
    overflow-y: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    top: 48px;
    border: 1px solid #eee;
    right: 29%;
    display: none;
    background-color: white;
    border-radius: 3px;
    transition: all .5s;
    color: #000000;

    z-index: 40000;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        15px 10px 31px 4px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        15px 10px 31px 4px rgba(0, 0, 0, 0);
}

.search_item {
    display: block;
    padding: 10px;
    font-size: 15px;
    font-weight: 10px;
}

.search_item:hover,
.search_item:focus {
    background-color: #ff9400;
}